body {
  margin: 10;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: medium;
}

button {
  margin-right: 5px;
  font-weight: bold;
  font-size: medium;
}

input {
  border-color: blue;
  width: 50%;
}
.token {
  font-size: smaller;
}

.hide {
  display:none
}

.result {
  margin-top: 10px;
  background-color: lightgreen;
}

.error {
  margin-top:10px;
  background-color: lightpink;
}